{% extends 'base.html'%}
{% block title %}
    More
{% endblock %}
{% block tochen %}
    {{ super() }}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/CVPage.css">
    <script src="/static/JS/CVPage.js"></script>
    <div id="GridContainer">

        <div id="item2">
            <ul>
                <h3>EXPERIENCE</h3>
                <li>Project in an information systems analysis and design course</li>
                <li>technical support for a computerized cash register system -Verifon</li>
            </ul>
            <ul>
                <h3>EDUCATION</h3>
                <li>B.A IN MANAGEMENT OF INFORMATION SYSTEMS (MIS)</li>
            </ul>
            <ul>
                <h3>MILITARY SERVICE</h3>
                <li>Air Force Intelligence</li>
            </ul>

            <ul>
                <h3>PROFILE</h3>
                <p> Quick learner, diligent, high work
                    ethic, with strong communication
                    and management skills, Good at
                    teamwork and working under
                    pressure.
                </p>
                <p>looking for a challenge.
                    Motivated to learn, grow and excel
                    in this field.</p>
            </ul>
            <ul>
                <h3>SKILLS</h3>
                <li>Java, OOP</li>
                <li>Power BI, SQL, BPMN</li>
                <li>Excel</li>
                <li>Python, C#, HTML</li>
            </ul>
            <ul>
                <h3>LANGUAGES</h3>
                <li>Hebrew: Native</li>
                <li>English: Fluent</li>
            </ul>
        </div>

    </div>
{% endblock %}