{% extends 'base.html'%}
{% block title %}
    Home
{% endblock %}

{% block tochen %}
    {{ super() }}
    {% set pageName= 'Home' %}
    <h1> Welcome {{ session.username | default('guest', True) }} </h1>
    <h2 class="{% if name %}logged_in{% else %}visiter{% endif %}"> BGU</h2>

    {% if name %}
        <h3> <a href="/about"> About </a> </h3>
        <h3> <a href="/assignment8"> More </a> </h3>
        <h3><a href="/catalog">Catalog</a></h3>
    {% else %}
        <h3> Please log in </h3>
    {% endif %}
{% endblock %}